<article class="article">
    <!-- Дополнительные классы с модификатором: .article__photo--centered-top .article__photo--centered-bottom -->
    <div class="article__photo">
        <div class="article__photo-inner">
            <img src="images/article/article-photo.jpg" alt="Фото для новости">
        </div>
    </div>
    <div class="article__info">
        <div class="article__title">
            Бизнес-встреча «Устойчивое управление ИТ-инфраструктурой 2018»
        </div>
        <div class="article__subtitle">
            Приуроченная ко Дню рождения компании Роспартнер
        </div>
        <div class="article__date">
            <span>7 июня 2018</span>  
        </div>
        <a class="badge" href="javascript:void(0);" title="Найти похожие">
            <span>Мероприятие</span>
        </a>
    </div>
</article>