<form id="feedback-form" action="" class="form form--light">
        <div class="container container--small">
            <h2>Заказать обратный звонок</h2>
            <p>Заполните форму, чтобы наши менеджеры договорились с вами об удобном времени демонстрации системы у
                вас
                в офисе</p>
            <div class="form-wrapper">
                <label class="input-container">
                    <input type="text" placeholder="Ваше имя">
                    <span>Ваше имя</span>
                </label>
                <label class="input-container">
                    <input type="email" placeholder="Электронная почта">
                    <span>Электронная почта</span>
                </label>
                <label class="input-container">
                    <input type="tel" placeholder="Телефон">
                    <span>Телефон</span>
                </label>
                <div class="checkbox-container-wrapper">
                    <label class="checkbox-container">
                        <input type="checkbox" class="visually-hidden" required>
                        <span>
                            Согласен на&nbsp;<a href="../files/ppd.pdf" target="_blank" title="Согласие на обработку персональных данных">
                                обработку моих персональных данных</a>
                        </span>
                    </label>
                </div>
                <button class="button button--blue" type="submit">Отправить заявку</button>
                <div class="form__error-message">
                    <span>Произошла ошибка при отправке, попробуйте обновить страницу и заполнить заново</span>
                </div>
                <div class="form__success-message">
                    <span>Вы успешно отправили заявку. Наши специалисты свяжутся с вами в ближайшее время!</span>
                </div>
                <div class="form__loading-message">
                    <span>Загрузка...</span>
                </div>
            </div>
        </div>
    </form>