<form class="form form--normal">
        <div class="container container--small">
            <h2>Стать партнером</h2>
            <label class="input-container">
                <input type="text" placeholder="1" title="имя" minlength="3" maxlength="150">
                <span>ФИО</span>
            </label>
            <label class="input-container">
                <input type="email" placeholder="1" required="">
                <span>Электронная почта</span>
            </label>
            <label class="input-container">
                <input type="text" placeholder="1" required="">
                <span>Компания</span>
            </label>
            <label class="input-container">
                <input type="tel" placeholder="1" required="">
                <span>Телефон</span>
            </label>
            <label class="input-container">
                <input type="text" placeholder="1" required="">
                <span>Сайт компании</span>
            </label>
            <select class="input-container input-container--select input-container--select-blue" name="" style="display: none;">
                <option value="1" selected="">Бизнес-партнер</option>
                <option value="2">Разработчик</option>
            </select>
            <div class="nice-select input-container input-container--select input-container--select-blue" tabindex="0"><span
                    class="current">Бизнес-партнер</span>
                <ul class="list">
                    <li data-value="1" class="option selected">Бизнес-партнер</li>
                    <li data-value="2" class="option">Разработчик</li>
                </ul>
            </div>
            <label class="input-container input-container--textarea">
                <textarea></textarea>
                <span>Комментарий</span>
            </label>
        </div>
    </form>