<div class="panel">
    <!-- <div class="resource resource--moving">
        <div class="resource__pipe resource__pipe--left"></div>
        <div class="resource__pipe resource__pipe--center"></div>
        <div class="resource__pipe resource__pipe--right"></div>
    </div> -->
    <div class="panel__image"></div>
    <div class="panel__plane"></div>
    <div class="panel__shadow"></div>
    <div class="panel__text">
        Повысьте доступность ваших сервисов.<br> 
        Управление ИТ-инфраструктурой станет увлекательной задачей: автоматизируйте процессы технической поддержки 
        и наблюдайте за всем этим с экрана мобильного телефона
    </div>
</div>